<h1>New User</h1>

<%= form_with(model: @user, html: { id: 'new_user_form', class: 'user-form' }) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="error-explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control', required: true  %>
  </div>

  <div class="field">
    <%= form.label :campaigns_list %>
    <%= form.text_field :campaigns_list, placeholder: "[{'campaign_name': 'cam1', 'campaign_id': 'id1'}]", class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Create User', class: 'btn btn-primary' %>
  </div>
<% end %>
